.ft-1 {
  display: flex;
  justify-content: space-evenly;
  background-color: red;
  color: white;
  border: 3px solid black;
  padding: 20px;
  flex-wrap: wrap;
  gap: 20px;
}

.ft-1-section h5 {
  cursor: pointer;
  letter-spacing: 1px;
  text-decoration: underline;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ft-1-section li {
  cursor: pointer;
  list-style: none;
  font-size: 13px;
  line-height: 20px;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.ft-1-icon {
  height: 25px;
  width: 25px;
  cursor: pointer;
}

.ft-1-section-icons {
  display: flex;
  gap: 10px;
  margin-top: 10px;
}

.ft-1-section-4 {
  display: flex;
  align-items: center;
  gap: 10px;
  max-width: 300px;
}

.ft-1-section-4 span {
  font-weight: bold;
}

.ft-1-section-4-icons {
  height: 40px;
  width: 40px;
}

.ft-2 {
  display: flex;
  justify-content: space-between;
  background-color: red;
  color: white;
  border: 3px solid black;
  border-top: none;
  padding: 10px 100px;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
}

.ft-2-copyright {
  display: flex;
  align-items: center;
  gap: 5px;
}

.ft-2 span {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  cursor: pointer;
}


/* Tablets */
@media (max-width: 1024px) {
  .ft-1 {
    justify-content: center;
    gap: 30px;
  }

  .ft-2 {
    padding: 10px 50px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
}

/* Mobile */
@media (max-width: 600px) {
  .ft-1 {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ft-1-section {
    width: 100%;
  }

  .ft-1-section-4 {
    justify-content: center;
    text-align: left;
  }

  .ft-1-section-icons {
    justify-content: center;
  }

  .ft-2 {
    padding: 10px 20px;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .ft-2-copyright {
    justify-content: center;
  }
}
